; Example Microdog Emulator File
[INFO]
serial=f0021
id=1122334455667788
mfg_serial=deadbeef
password=15949
memory=ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
[CONVERT]
; Hashed Convert Example (always 16 byte req)
11223344556677881122334455667788=00000000
; Legacy Convert Example
11223344=55667788